@import "../../assets/sass/variables";

.tag-name {
  background: $pink;
  border-radius: var(--border-radius-1);
  color: $white;
  padding: 3px 22px;
  @media screen and (max-width: 800px) {
    font-size: $size-10;
  }
}