@import "../../assets/sass/variables";

.collapse {
  @media screen and (min-width: 801px) {
    min-height: 300px;
  }

  &.half {
    width: calc((100% - 76px) / 2);
    @media screen and (max-width: 800px) {
      width: 100%;
    }

    .collapse-header, .collapse-body {
      font-size: $size-6;
    }

    @media screen and (max-width: 800px) {
      .collapse-header {
        font-size: $size-8;
      }
      .collapse-body {
        font-size: $size-9;
      }
    }
  }

  &.full {
    width: 100%;

    .collapse-header, .collapse-body {
      font-size: $size-5;
    }

    @media screen and (max-width: 800px) {
      .collapse-header {
        font-size: $size-8;
      }
      .collapse-body {
        font-size: $size-9;
      }
    }
  }

  .collapse-header {
    box-sizing: border-box;
    font-weight: 500;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    background: $pink;
    color: $white;
    padding: 13px 20px;
    border-radius: var(--border-radius-1);
    @media screen and (max-width: 800px) {
      padding: 5px 11px;
      .arrows svg {
        width: 15.2px;
        height: 8.5px;
      }
    }
  }

  .collapse-body {
    margin-top: -20px;
    padding: 50px 12px 27px 20px;
    background-color: $grey-light;
    color: $pink;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}