@import "../../assets/sass/variables";

.collapse {
  &.half {
    width: calc((100% - 76px) /2);
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }
  &.full {
    width: 100%;
  }

  .collapse-header {
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    background: $pink;
    color: $white;
    padding: 13px 20px;
    border-radius: var(--border-radius-1);
    font-size: $size-6;
    @media screen and (max-width: 800px) {
      font-size: $size-8;
      padding: 5px 11px;
      .arrows svg {
        width: 15.2px;
        height: 8.5px;
      }
    }
  }
  
  .collapse-body {
    font-size: $size-6;
    margin-top: -20px;
    padding: 50px 12px 27px 20px;
    background-color: $grey-light;
    color: $pink;
    @media screen and (max-width: 800px) {
      font-size: $size-9;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}