@import "../../assets/sass/variables";

.carrousel-wrapper {
  position: relative;
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  @media screen and (max-width: 800px) {
    height: 255px;
  }

  .slide {
    opacity: 0;
    transition-duration: 0.5s;

    &.active {
      opacity: 1;
      width: 100%;
      transition-duration: 0.5s;
      height: inherit;
    }
    .image-gradient {
      position: absolute;
      height: inherit;
      background: linear-gradient(to bottom, rgba(#000000, 0), rgba(#000000, 0.5));
      width: 100%;
      border-radius:10px;
    }
    .image {
      object-fit: cover;
      width: inherit;
      height: inherit;
      border-radius: 10px;
    }
  }

  .arrow-left, .arrow-right {
    fill: $white;
    position: absolute;
    top: calc(50% - 80px/2);
    cursor: pointer;
    user-select: none;
    z-index: 20;
    @media screen and (max-width: 800px) {
      height: 19.8px;
      top: calc(50% - 19.8px/2);
    }
  }
  .arrow-left {
    left: 25px;
  }
  .arrow-right {
    right: 25px;
  }
  .counter {
    color: $white;
    position: absolute;
    bottom: 25px;
    z-index: 20;
    font-size: $size-6;
    font-weight: 500;
    @media screen and (max-width: 800px) {
     display: none;
    }
  }
}
