@import "../../assets/sass/variables";

.thumb-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $grey-light;
  padding: 56px 50px 43px 50px;
  border-radius: 25px;
  @media screen and (max-width: 800px) {
    background-color: $white;
    padding: 0;
  }
}

.thumb {
  text-decoration: none;
  position: relative;
  width: calc((100% - 120px) / 3);
  height: 340px;
  margin-bottom: 50px;
  border-radius: $border-radius-fixed-10;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media screen and (max-width: 1250px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (max-width: 800px) {
    width: 100%;
  }

  .thumb-gradient {
    position: absolute;
    width: 100%;
    height: inherit;
    background: linear-gradient(to bottom, rgba(#000000, 0), rgba(#000000, 0.5));
    z-index: 2;
  }

  .thumb-cover {
    width: 100%;
    height: inherit;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .thumb-title {
    font-size: $size-6;
    color: $white;
    padding: 20px;
    z-index: 2;
    @media screen and (max-width: 800px) {
      padding: 15px 20px;
    }
  }
}