$pink: #FF6060;
$white: #FFF;
$black: #000000;
$grey-light: #F7F7F7;
$grey: #E3E3E3;
$grey-dark: #C4C4C4;



$size-1: 288px;
$size-2: 96px;
$size-3: 48px;
$size-4: 36px;
$size-5: 24px;
$size-6: 18px;
$size-7: 14px;
$size-8: 13px;
$size-9: 12px;
$size-10: 10px;

$border-radius-fixed-10: 10px;
$border-radius-fixed-25: 25px;
:root {
    --border-radius-1: 10px;
    --border-radius-2: 25px;

  @media screen and (max-width: 800px) {
    --border-radius-1: 5px;
    --border-radius-2: 10px;
  }
}
p {
  margin: 0;
}