.dropdown-list {
  width: calc((100% - 76px) /2);
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.dropdown-text {
  width: 100%;
}

.dropdown-header {
  width: inherit;
  display: inline-flex;
  justify-content: space-between;
  background: $pink;
  color: $white;
  padding: 13px 20px;
  border-radius: 10px;
}
.dropdown-body {
  padding: 30px 12px 27px 20px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      font-size: $size-6;
    }
  }
  p{
    font-size: $size-5;
  }
}
