@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
}
.App {
  padding: 40px 100px;
  @media screen and (max-width: 800px) {
    padding: 20px;
  }
  .home-header {
    position: relative;
    margin-top: 68px;
    height: 223px;
    margin-bottom: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 800px) {
      height: 111px;
    }

    .cover-darken, .cover-home-page {
      position: absolute;
      height: inherit;
      width: 100%;
      border-radius: var(--border-radius-2);
    }
    .cover-darken {
      opacity: 30%;
      background: $black;
      mix-blend-mode: darken;
      z-index: 2;
    }
    .cover-home-page {
      object-fit: cover;
      z-index: 1;
    }
    .home-title {
      font-size: $size-3;
      font-weight: 500;
      color: $white;
      z-index: 2;
      @media screen and (max-width: 800px) {
        font-size: $size-5;
      }
    }
  }

  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $pink;
    .type-error {
      font-weight: 700;
    }
    .title {
      font-weight: 500;
    }
    .link {
      color: $pink;
    }
  }
}


