$pink: #FF6060;
$white: #FFF;
$black: #000000;
$grey-light: #F6F6F6;
$grey: #E3E3E3;
$grey-dark: #C4C4C4;

$size-1: 288px;
$size-2: 96px;
$size-3: 48px;
$size-4: 36px;
$size-5: 24px;
$size-6: 18px;
$size-7: 14px;
$size-8: 13px;
$size-9: 12px;
$size-10: 10px;



p {
  margin: 0;
}